.formulario {
    margin-top: 100px;
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 auto;
    width: 300px;
}

.form-content {
    display: flex;
    flex-direction: column;
    margin-bottom: 25px;
}

label {
    margin-bottom: 5px;
}

input[type="text"],
input[type="date"] {
    padding: 8px;
    border-radius: 5px;
    border: 1px solid #ccc;
    width: 300px;
    box-sizing: border-box;
    margin-top: 5px;
}

input[type="submit"],
input[type="reset"] {
    padding: 10px 20px;
    background-color: #336699;
    color: #ffffff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 10px;
}

input[type="submit"]:hover,
input[type="reset"]:hover {
    background-color: #254e78;
}